{% extends 'base.html' %}

{% block content %}

<!--    <form method="POST">-->
<!--      {% csrf_token %}-->
<!--      <label for="from-amount">Сумма:</label>-->
<!--      <input step="any" id="from-amount" name="from-amount" required>-->
<!--      <br>-->
<!--      <label for="from-curr">From:</label>-->
<!--      <select id="from-curr" name="from-curr" required>-->
<!--        {% for code, name in currencies.items %}-->
<!--          <option value="{{ code }}">{{ code }}</option>-->
<!--&lt;!&ndash;        {{ code }} - {{ name }}&ndash;&gt;-->
<!--        {% endfor %}-->
<!--      </select>-->
<!--      <br>-->
<!--      <label for="to-curr">To:</label>-->
<!--      <select id="to-curr" name="to-curr" required>-->
<!--        {% for code, name in currencies.items %}-->
<!--          <option value="{{ code }}">{{ code }}</option>-->
<!--        {% endfor %}-->
<!--      </select>-->
<!--      <br>-->
<!--      <button type="submit">Конвертировать</button>-->
<!--    </form>-->
<!--    {% if converted_amount %}-->
<!--      <p>{{ from_amount }} {{ from_curr }} = {{ converted_amount }} {{ to_curr }}</p>-->
<!--    {% endif %}-->

  <section class="section">
    <div class="container">
      <h1 align="center" class="title">Конвертер валют</h1>
      <form method="post">
        {% csrf_token %}
        <div class="field">
          <label class="label">Сумма конвертации</label>
          <div class="control">
            <input class="input" type="text" name="from-amount" placeholder="Введите сумму">
          </div>
        </div>
        <div class="field">
          <label class="label">Из валюты</label>
          <div class="control">
            <div class="select">
              <select name="from-curr">
                {% for currency in currencies %}
                  <option value="{{ currency }}">{{ currency }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
        <div class="field">
          <label class="label">В валюту</label>
          <div class="control">
            <div class="select">
              <select name="to-curr">
                {% for currency in currencies %}
                  <option value="{{ currency }}">{{ currency }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <button class="button is-primary" type="submit">Конвертировать</button>
          </div>
        </div>
      </form>
      {% if converted_amount %}
        <div class="notification is-info" style="margin-top: 20px">
          {{ from_amount }} {{ from_curr }} = {{ converted_amount }} {{ to_curr }}
        </div>
      {% endif %}
    </div>
  </section>


{% endblock %}